
@mixin GridCenter() {
  display: grid;
  place-items: center;
}

@mixin FlexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin Flex($dir: row, $jc: center, $ai: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
  align-items: $ai;
}