

@mixin Debug($col: red) {
  border: 2px solid $col;
}

@mixin Button($w: auto, $h: auto, $bg: white, $col: black, $r: 0) {
  width: $w;
  height: $w;
  background-color: $bg;
  color: $col;
  border-radius: $r;
}
